@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.background {
  background-image: linear-gradient(
    to right bottom,
    #fcefbb,
    #d5cb9e,
    #b0a782,
    #8c8568,
    #6a654e,
    #5a5442,
    #4b4436,
    #3b352a,
    #363027,
    #312b24,
    #2c2621,
    #26211e
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-glass {
  background: rgba(64, 61, 46, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
/* Background */


/* Carousel */
.next,
.prev {
  top: calc(50% - 20px);
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.carousel-card{
  right: 530px;
  top: -20px;
}

.carousel-img {
  position: absolute;
  max-width: 545px;
  height: 345px;
  object-fit: contain;
}
/* Carousel */


/* WhatWeOffer */
.WhatWeOffer-figure {
  left: -210px;
  top: 50px;
}
/* WhatWeOffer */